@font-face {
  font-family: 'cantarell';
  src: url('../Fonts/cantarell-bold-webfont.woff')
  format('woff'),
        url('../Fonts/cantarell-bold-webfont.woff2')
        format('woff2');
}
header{
  text-align: center;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
}
body{
background-color: #F9F6EE;
}
.main-nav ul{
  list-style-type: none;
  width:100%;
  overflow: hidden;
  background-color: lightgrey;
  display: flex;
  padding:0px;
}
.main-nav li{
  border-right: 1px solid whitesmoke;
  width:100%;
}
.main-nav a{
  display:block;
  color: blue;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}
.main-nav li a:hover{
  background:linear-gradient(lightgrey, white, lightgrey);
}
.main-nav li a:visited{
  background-color: grey;
}
.main-nav li a:active{
  background-color: lightgrey;
}
footer{
  font-size: 1em;
  text-align: center;
}
.inital{
  border-radius: 50%;
  padding:10px;
  margin:10px;
  float: left;
}
.index{
  text-align: center;
}
.index a:hover{
color:blueviolet;
}
.index a:visited{
  color:aqua;
}
.index a:active{
  color: darkcyan;
}
.index h1{
  font-family: "cantarell", 'Times New Roman', serif;
}
